@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-family: 'Rubik', sans-serif;
} */

body {
  @apply bg-white-500
}

p {
  @apply text-gray-400
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #8080802f;
}

::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-primary-400 left-1/2 block bottom-0 absolute
}

.animation-active:after {
  @apply left-0 w-full
}

.aniamtion-hover:hover:after {
  @apply left-0 w-full
}

li.custom-list:before {
  content: '\2024';
  text-indent: -999999px;

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block
}

li.circle-check:before {
  content: '';
  background-image: url('./assets/icon/circle-tickmark.svg');
  left: -0.7em;
  top: -0.4em;
}

li.check:before {
  left: -0.5em;
  background-image: url(./assets/icon/tickmark.svg);
  top: -0.5em;
  font-size: 400%;
}

/* Slider */
.swiper-pagination-horizontal .swiper-pagination-bullet {
  @apply bg-primary-400 w-12 h-[6px] rounded-lg
}